@font-face {
    font-family: 'WebHostingHub-Glyphs';
    src: url('../web_fonts/webhostinghub-glyphs.eot');
    src: url('../web_fonts/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
         url('../web_fonts/webhostinghub-glyphs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings: "calt=0,liga=0";
}
[class^="icon-"], [class*=" icon-"] {font-family:'WebHostingHub-Glyphs';background:none;width:auto;height:auto;font-style:normal}
.icon-circlefacebook:before{content:'\f78d'}
.icon-circleinstagram:before{content:'\f7c4'}
.icon-home:before{content:'\21b8'}
